@model FurnitureApplication.Entities.Category
@{
    ViewBag.Title = "Delete";
}

<form method="post">
    <div class="form">
        <div class="box">
            <input type="hidden" name="ID" value="@Model.ID" />
        </div>
        <div class="box">
            <button type="submit">Yes Delete</button>
        </div>
    </div>
</form>
<a href="/Index" class="btn btn-primary">Cancel</a>

