
@{
    ViewBag.Title = "Categories";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js"></script>

<div id="main">
    <div class="main-holder">
        <div class="container" style="margin-top: 130px; margin-bottom: 30px;">
            <div class="heading-area">
                <h2>Categories</h2>
            </div>
            <div id="tableContiner">
                @{
                    Html.RenderAction("CategoryTable");
                }
            </div>

            <hr />
            <div id="actionContainer">

            </div>
        </div>
    </div>
</div>

<script>
    function focusAction(controlToFocus) {
        $('html, body').animate({
            scrollTop: $("#" + controlToFocus).offset().top - 100
        }, 1000);
    }
</script>
