@model CheckoutViewModel

@if (Model != null)
{
    if (Model.CartProducts != null && Model.CartProducts.Count > 0)
    {
        <div>
            @foreach (var product in Model.CartProducts)
            {
                var productQuantity = Model.CartProductIDs.Where(productID => product.ID).count();
                <div>
                    Name: @product.Name - Price: @product.Price - Quantity: @productQuantity Total Price: @(product.price * productQuantity) 
                </div>
                <div>
                    Total Bill : @Model.CartProducts.Sum(x=>x.price * Model.CartProductIDs.Where(productID => product.ID).count())
                </div>
            }
        </div>
    }
    else
    {
        <div>
            <p>No Products in Cart</p>
        </div>
    }
}



