@model List<Category>
@{
    ViewBag.Title = "Create Products";

    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

    var imageUrl = "/images/empty-member.png";
}


<div id="main">
    <div class="main-holder">
        <div class="container" style="margin-top: 130px; margin-bottom: 30px;">
            <div class="heading-area">
                <h2>Create Product</h2>
            </div>
            <hr />
                <form id="createProduct" method="post">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form">
                                <div class="form-group">
                                    <label>Category</label>
                                    <select name="CategoryID" class="form-control" required>
                                        @foreach (var category in @Model)
                                        {
                                            <option value="@category.ID">@category.Name</option>
                                        }
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Name</label>
                                    <input class="form-control" type="text" name="Name" placeholder="Name" required />
                                </div>
                                <div class="form-group">
                                    <label>Sale Price</label>
                                    <input class="form-control" type="number" id="Price" name="Price" placeholder="Price" required  />
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="HasDiscount" name="HasDiscount" />
                                    <label class="custom-control-label" for="HasDiscount">Is On Discount?</label>
                                </div>
                                <div class="form-group discount-section" hidden>
                                    <label>Original Price</label>
                                    <input class="form-control" type="number" id="OriginalPrice" name="OriginalPrice" placeholder="Price" required />
                                </div>
                                <div class="form-group discount-section" hidden>
                                    <label>Discount (%)</label>
                                    <input class="form-control" type="number" id="DiscountPercentage" name="DiscountPercentage" placeholder="Price" min="0" max="100" value="0" required />
                                </div>
                                <div class="form-group">
                                    <label>Description</label>
                                    <input class="form-control" type="text" name="Description" placeholder="Description" required />
                                </div>
                                <div class="form-group">
                                    <label>Upload Image</label>
                                    <input type="hidden" name="ImageUrl" value="" id="ImageUrl" required />
                                    <input id="imageUpload" type="file" name="Image" accept=".jpg, .png" />
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary" id="saveBtn" type="submit">Save</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <label>Image View</label>
                            <div class="Placeholder-img">
                                <img id="productImage" src="@imageUrl" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
<script>
    $(document).ready(function () {
        $("#HasDiscount").change(function () {
            debugger
            if (this.checked) {
                $(".discount-section").removeAttr("hidden");
                $(".discount-section").fadeIn();
                $("#Price").attr("disabled", "disabled");
            } else {
                $(".discount-section").fadeOut();
                $("#Price").removeAttr("disabled");
            }
        });

        $("#Price").change(function () {
            $("#OriginalPrice").val(this.value);
        });

        $("#OriginalPrice").change(function () {
            debugger;
            var discount = $("#DiscountPercentage").val();
            var discountPercentage = Number.parseFloat(discount);
            var originalPrice = Number.parseFloat($("#OriginalPrice").val());
            var discountAmount = (discountPercentage / 100.0) * originalPrice;
            var price = originalPrice - discountAmount;

            $("#Price").val(price + "");
        });

        $("#DiscountPercentage").change(function () {
            debugger;
            var discount = $("#DiscountPercentage").val();
            var discountPercentage = Number.parseFloat(discount);
            var originalPrice = Number.parseFloat($("#OriginalPrice").val());
            var discountAmount = (discountPercentage / 100.0) * originalPrice;
            var price = originalPrice - discountAmount;

            $("#Price").val(price + "");
        });


    });// End of doucmnet ready

    $("#saveBtn").click(function (ev) {
        ev.preventDefault();
        $.ajax({
            type: 'POST',
            url: "/Product/Create",
            data: $("#createProduct").serialize()
        })
        .done(function (response) {
            window.location.href = "/product/index";

            //$("#tableContainer").html(response);
            //$("#actionContainer").html("");
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("Fail")
        });
    });
    $("#imageUpload").change(function (e) {
        var element = this;

        var formData = new FormData();

        var totalFiles = element.files;

        for (var i = 0; i < totalFiles.length; i++) {
            var file = element.files[i];
            formData.append("File", file);
        }
        $.ajax({
            type: 'POST',
            url: '/shared/UploadImages',
            dataType: 'json',
            data: formData,
            contentType: false,
            processData: false
        })

        .done(function (response) {
            console.log(response);

            if (response.Success) {
                $("#productImage").attr("src", response.ImageUrl)
                $("#ImageUrl").val(response.ImageUrl)
            }
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("Fail")
        });
    })
</script>

