@model List<Category>
@{
    ViewBag.Title = "Create Products";

    var imageUrl = "/images/empty-member.png";
}


<h2>Create Products</h2>
<form id="createProduct" method="post">
    <div class="row">
        <div class="col-lg-6">
            <div class="form">
                <div class="form-group">
                    <label>Category</label>
                    <select name="CategoryID" class="form-control">
                        @foreach (var category in @Model)
                    {
                            <option value="@category.ID">@category.Name</option>
                    }
                    </select>
                </div>
                <div class="form-group">
                    <label>Name</label>
                    <input class="form-control" type="text" name="Name" placeholder="Name" />
                </div>
                <div class="form-group">
                    <label>Price</label>
                    <input class="form-control" type="text" name="Price" placeholder="Price" />
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <input class="form-control" type="text" name="Description" placeholder="Description" />
                </div>
                <div class="form-group">
                    <label>Upload Image</label>
                    <input type="hidden" name="ImageUrl" value="" id="ImageUrl" />
                    <input id="imageUpload" type="file" name="Image" accept=".jpg, .png" />
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" id="saveBtn" type="submit">Save</button>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <label>Image View</label>
            <div class="Placeholder-img">
                <img id="productImage" src="@imageUrl" />
            </div>
        </div>
    </div>
</form>
<script>
    $("#saveBtn").click(function () {
        $.ajax({
            type: 'POST',
            url: "/Product/Create",
            data: $("#createProduct").serialize()
        })
        .done(function (response) {
            $("#tableContainer").html(response);
            $("#actionContainer").html("");
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("Fail")
        });
    });
    $("#imageUpload").change(function (e) {
        var element = this;

        var formData = new FormData();

        var totalFiles = element.files;

        for (var i = 0; i < totalFiles.length; i++) {
            var file = element.files[i];
            formData.append("File", file);
        }
        $.ajax({
            type: 'POST',
            url: '/shared/UploadImages',
            dataType: 'json',
            data: formData,
            contentType: false,
            processData: false
        })

        .done(function (response) {
            console.log(response);

            if (response.Success) {
                $("#productImage").attr("src", response.ImageUrl)
                $("#ImageUrl").val(response.ImageUrl)
            }
        })
        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
            alert("Fail")
        });
    })
</script>

