<div id="main">
    <div class="main-holder">
        <div class="container" style="margin-top: 130px; margin-bottom: 30px;">
            <div class="heading-area">
                <h1 class="text-center text-danger">Welcome to Administrator</h1>
            </div>
        </div>
    </div>
</div>
            
